<app-prompt-header *ngIf="selectedCategory == null"  header="CREATE NEW CATEGORY" [component]="this"></app-prompt-header>
<app-prompt-header *ngIf="selectedCategory != null" header="EDIT CATEGORY" [component]="this"></app-prompt-header>

<div class="prompt-info-background">
  <div #autoResize>
    <form (ngSubmit)="done()">
      <input *ngIf="selectedCategory != null" #input placeholder="Enter name here..." class="prompt-input centered " [value]="selectedCategory" />
      <input *ngIf="selectedCategory == null" #input placeholder="Enter name here..." class="vertically-aligned prompt-input centered " [value]="selectedCategory" />
    </form>
    <p class="prompt-nameError">{{error}}</p>
    <div class="prompt-buttons left">
      <app-prompt-button (click)="delete()" text="Delete Category" color="red"></app-prompt-button>
      <app-prompt-button (click)="massLevel()" text="Mass-Level" color="blue"></app-prompt-button>
    </div>
  </div>
</div>

<div class="prompt-buttons">
  <app-prompt-button (click)="exit()" text="Cancel" color="red"></app-prompt-button>
  <app-prompt-button *ngIf="selectedCategory != null" (click)="done()" text="Save" color="blue"></app-prompt-button>
  <app-prompt-button *ngIf="selectedCategory == null" (click)="done()" text="Create" color="blue"></app-prompt-button>
</div>