.slider {
  -webkit-appearance: none;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 5px;
  position: absolute;
  transform: translate(50%, -20px);
  right: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
  border: 3px solid #6E7F9C;
  outline: 1px solid white;
  cursor: pointer;
}

.ship-hull-icon {
  width: 29.5px;
  z-index: 1;
  user-select: none;
  -webkit-user-drag: none;
  margin-right: 5px;
  transform: translate(0px, 2px);

  &.FP {
    transform: none;
  }
}

.tech-bonus {
  display: inline-block;
  font-size: 13px;
  transform: translate(0px, -2px);
  color: white;
  -webkit-text-stroke: 0.65px black;
  font-weight: 900;

  &.cell {
    width: 57px;
    transform: none;
  }

  &.none {
    display: block;
    font-size: 16px;
    text-align: center;
  } 
}

.tech-stat {
  width: 50px;
  text-align: right;
  height: 100%;
  position: relative;
}

.flash {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: limegreen;
  pointer-events: none;

  &.out {
    transition: background-color 0.5s;
    background-color: rgba(0, 255, 0, 0);
  }

  &.in {
    transition: background-color 0;
    background-color: rgba(0, 255, 0, 1);
  }
}

.bulk-select {
  width: 100%;
  position: absolute;
  height: 100%;
  pointer-events: none;
  background-color: rgb(255, 255, 255, var(--selected-ship-glow-opacity));
  transition: background-color 2s;
}