<div #row (click)="enterLevel()"  *ngIf="misc.shipsFilterPass[ship.id] == true" title="Click to edit level" class="row default {{!ship.isObtained ? 'unobtained' : ''}}">
  <!-- hull icon and ship name-->
  <div class="ship-name {{getRarity()}} border">
    <img class="ship-hull-icon" [title]="hoverTitles.hulls[getHull()] + ' (' + getHull() + ')'" [src]="'assets/icons/frame hull icons/' + getHull() + '.png'"/>
    {{ship.name}}
  </div>

  <div class="tech-stat border tech-stat {{getRarity()}}" [title]="fleetTechHoverTitle">
    <!-- tech stat icon -->
    <img class="ship-hull-icon {{ship.techStat}}" [style]="'width: ' + fleetTechStatIconWidths[ship.techStat] + 'px'" [src]="'assets/icons/stat icons/' + ship.techStat + '.png'"/>
    
    <!-- tech stat bonus -->
    <div class="tech-bonus" >+{{ship.techBonus}}</div>
  </div>

  <!-- level -->
  <div class="level over119-{{ship.level > 119}} border level">{{ship.level}}</div>
  
  <!-- flash (appears after level edit)-->
  <div class="flash {{flashCSS}}"></div>
</div>