<!-- hull filter -->
<div class="container">
  <p class="generic-text filter-category-name" [ngClass]="{'mobile' : misc.isMobile}" (click)="toggleFold('hulls')" title="Click to {{unfoldedFilters['hulls']  ? 'fold' : 'unfold'}}">
    Hull
    <ion-icon name="caret-down-outline" *ngIf="unfoldedFilters['hulls']"></ion-icon>
    <ion-icon name="caret-up-outline" *ngIf="!unfoldedFilters['hulls']"></ion-icon>
  </p>
  <div class="button-container">
    <app-filter-button *ngFor="let hull of hullNames; let i = index" [hasImage]="true" [filterName]="hull" [filterType]="filter.hulls" [index]="i" fileName="hull"></app-filter-button>
  </div>
</div>

<!-- stat filter -->
<div class="container">
  <p class="generic-text filter-category-name" [ngClass]="{'mobile' : misc.isMobile}" (click)="toggleFold('stats')" title="Click to {{unfoldedFilters['stats']  ? 'fold' : 'unfold'}}">
    Stat
    <ion-icon name="caret-down-outline" *ngIf="unfoldedFilters['stats']"></ion-icon>
    <ion-icon name="caret-up-outline" *ngIf="!unfoldedFilters['stats']"></ion-icon>
  </p>
  <div class="button-container">
    <app-filter-button *ngFor="let stat of statNames; let i = index" [hasImage]="true" [filterName]="stat" [filterType]="filter.stats" [index]="i" fileName="stat"></app-filter-button>
  </div>
</div>

<!-- faction filter -->
<div class="container">
  <p class="generic-text filter-category-name" [ngClass]="{'mobile' : misc.isMobile}" (click)="toggleFold('factions')" title="Click to {{unfoldedFilters['factions']  ? 'fold' : 'unfold'}}">
    Faction
    <ion-icon name="caret-down-outline" *ngIf="unfoldedFilters['factions']"></ion-icon>
    <ion-icon name="caret-up-outline" *ngIf="!unfoldedFilters['factions']"></ion-icon>
  </p>
  <div class="button-container">
    <app-filter-button *ngFor="let faction of factionNames; let i = index" [filterName]="faction" [filterType]="filter.factions" [index]="i" fileName="faction"></app-filter-button>
  </div>
</div>

<!-- rarity filter -->
<div class="container">
  <p class="generic-text filter-category-name" [ngClass]="{'mobile' : misc.isMobile}" (click)="toggleFold('rarities')" title="Click to {{unfoldedFilters['rarities']  ? 'fold' : 'unfold'}}">
    Rarity
    <ion-icon name="caret-down-outline" *ngIf="unfoldedFilters['rarities']"></ion-icon>
    <ion-icon name="caret-up-outline" *ngIf="!unfoldedFilters['rarities']"></ion-icon>
  </p>
  <div class="button-container">
    <app-filter-button *ngFor="let rarity of rarityNames; let i = index" [hasImage]="false" [filterName]="rarity" [filterType]="filter.rarities" [index]="i"></app-filter-button>
  </div>
</div>

<!-- status filter -->
<div class="container" [ngClass]="{'mobile-margin' : misc.isMobile}">
  <p class="generic-text filter-category-name" [ngClass]="{'mobile' : misc.isMobile}" (click)="toggleFold('status')" title="Click to {{unfoldedFilters['status']  ? 'fold' : 'unfold'}}">
    Status
    <ion-icon name="caret-down-outline" *ngIf="unfoldedFilters['status']"></ion-icon>
    <ion-icon name="caret-up-outline" *ngIf="!unfoldedFilters['status']"></ion-icon>
  </p>
  <div class="button-container">
    <app-filter-button *ngFor="let status of statusNames; let i = index" [hasImage]="false" [filterName]="status" [filterType]="filter.statuses" [index]="i"></app-filter-button>
  </div>
</div>