.container {
  margin-bottom: 20px;
}

.filter-category-name {
  width: fit-content;
  transform: translateY(5px);
  cursor: pointer;

  &.mobile {
    transform: translate(0px, 0px);
    margin-bottom: 0px;
    text-align: center;
    width: auto
  }
}

.mobile-margin {
  margin-bottom: 50px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: 5px;
}

app-filter-button {
  display: inline-block;
  height: 55px;
  display: flex;
  align-items: flex-end;
  transform: translateX(20px)
}

.toggle-flag {
  &.max {
    margin-left: 20px;
  }

  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox {
  display: inline-block;
  width: 23px;
}