.filter-category-name {
  width: fit-content;
  cursor: pointer;
  margin-bottom: 2px;
  transform: translate(0px, -19px);

  &.mobile {
    transform: translate(0px, 0px);
    margin-bottom: 0px;
    text-align: center;
    width: auto
  }
}

.filter-category-container {
  width: fit-content;
  display: inline-block;
  margin-right: 5px;
  margin-left: 10px;

  &.desktop {
    transform: translateY(-20px);
  }
}

.filter-column {
  text-align: center;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

$test: 50vw;

.filter-row {
  display: flex;
  justify-content: center;
}

.filter-container {
  margin-bottom: 50px;
}