.filter-category-name {
  width: fit-content;
  cursor: pointer;
  margin-bottom: 2px;

  // isMobile from app component
  &.false {
    transform: translate(0px, -19px);
  }
  &.true {
    margin-bottom: 0px;
    text-align: center;
    width: auto
  }
}

.filter-category-container {
  width: fit-content;
  display: inline-block;
  margin-right: 5px;
  margin-left: 10px;

  &.isMobile-false {
    transform: translateY(-20px);
  }
}

.filter-category {
  text-align: center;
  width: 100px;
  height: 30px;
}

$test: 50vw;

.filter-row {
  &.isMobile-true {
    display: flex;
    justify-content: center;
  } 
}