<app-sort-list style="display: inline-block; margin-bottom: 10px;"></app-sort-list>
<app-filter-list></app-filter-list>

<div class="cog-and-tech {{uiMode}}">
  <img src="assets/Cog Chip.png" style="width: 30px;"/> <p title="Cognitive chips required to awaken everyone until 120" class="generic-text inline-block" style="margin-bottom: 0px" style="transform: translate(5px, -10px)"> Required: {{shipsService.cogReqs}}</p>
  <!--
  <app-generic-big-button extraCSS="tech-mode" text="Tech Summary"></app-generic-big-button>
  -->
</div>
