<app-quick-tech-view></app-quick-tech-view>
<cdk-virtual-scroll-viewport class="ship-grid" [ngClass]="{'mobile' : misc.isMobile}" [itemSize]="rowHeight" *ngIf="rows.length != 0">
  <div *cdkVirtualFor="let r of rows" [style]="'height: ' + rowHeight + 'px'">
    <div *ngFor="let ship of r" class="ship-card-component-container">
      <!-- loading delay allows all ships to destroy themselves, and restart their fade-->
      <app-ship-card *ngIf="!isLoading" #ships [ship]="ship"></app-ship-card>
    </div>
  </div>
</cdk-virtual-scroll-viewport>

<div class="ship-grid" [ngClass]="{'mobile' : misc.isMobile}" *ngIf="rows.length == 0">
  <p *ngIf="rows.length == 0 && !isLoading" class="generic-text no-ships-text" [ngClass]="{'mobile' : misc.isMobile}">No ships fit this criteria.</p>
</div>

<div (window:resize)="onResize()"></div>
