.ship-grid {
  text-align: center;

  &.isMobile-true {
    text-align: center;
    padding-left: 19px;
    height: 80vh;
  }

  &.isMobile-false {
    height: 77vh;
  }
}

.invisible-ship-card {
  width: 116px;
  height: 144px;
  display: inline-block;
  margin-bottom: 8px;
}