<table>
  <tbody>
    <tr>
      <th>HULL</th>
      <th>APPLIES TO</th>
    </tr>
    <tr>
      <td> <app-hull-icon hull="AE"></app-hull-icon> </td>
      <td> <app-hull-icon hull="AE"></app-hull-icon> </td>
    </tr>
    <tr>
      <td> <app-hull-icon hull="AR"></app-hull-icon> </td>
      <td> <app-hull-icon hull="AR"></app-hull-icon> </td>
    </tr>
    <tr>
      <td> <app-hull-icon hull="BBV"></app-hull-icon> <app-hull-icon hull="BC"></app-hull-icon> <app-hull-icon hull="BB"></app-hull-icon> </td>
      <td> <app-hull-icon hull="BBV"></app-hull-icon> <app-hull-icon hull="BC"></app-hull-icon> <app-hull-icon hull="BB"></app-hull-icon> </td>
    </tr>
    <tr>
      <td> <app-hull-icon hull="CA"></app-hull-icon> <app-hull-icon hull="BM"></app-hull-icon> <app-hull-icon hull="CB"></app-hull-icon> </td>
      <td> <app-hull-icon hull="CA"></app-hull-icon> <app-hull-icon hull="BM"></app-hull-icon> <app-hull-icon hull="CB"></app-hull-icon> </td>
    </tr>
    <tr>
      <td> <app-hull-icon hull="CL"></app-hull-icon> </td>
      <td> <app-hull-icon hull="CL"></app-hull-icon> </td>
    </tr>
    <tr>
      <td> <app-hull-icon hull="CV"></app-hull-icon> <app-hull-icon hull="CVL"></app-hull-icon> </td>
      <td> <app-hull-icon hull="CV"></app-hull-icon> <app-hull-icon hull="CVL"></app-hull-icon> </td>
    </tr>
    <tr>
      <td> <app-hull-icon hull="DD"></app-hull-icon> <app-hull-icon hull="DDG"></app-hull-icon> </td>
      <td> <app-hull-icon hull="DD"></app-hull-icon> <app-hull-icon hull="DDG"></app-hull-icon> </td>
    </tr>
    <tr>
      <td> <app-hull-icon hull="SS"></app-hull-icon> </td>
      <td> <app-hull-icon hull="SS"></app-hull-icon> </td>
    </tr>
    <tr>
      <td> <app-hull-icon hull="SSV"></app-hull-icon> </td>
      <td> <app-hull-icon hull="SSV"></app-hull-icon> </td>
    </tr>
  </tbody>
</table>