<ion-col class="filter-column" (click)="clickedFilterButton()" >
  <!-- unselected toggle -->
  <div style="height: 0px;">
    <div class="filter-button unselected hasImage-{{hasImage}}" *ngIf="!filterType[filterName]" title="{{filterName == 'W.I.P' ? 'Work in Progress' : ''}}">
      <img [alt]="filterName" *ngIf="hasImage && filterName != 'All'" class="filter-icon unselected" [src]="'assets/icons/unselected ' + fileName + ' icons/' + filterName + '.png'" [style]="'width: ' + iconWidth + 'px'"/>
      <img *ngIf="!hasImage" class="filter-icon invisible-all" src="assets/AllButton.png" [style]="'width: ' + iconWidth + 'px'"/>
      
      <p class="filter-name unselected hasImage-{{hasImage}}" [style]="'margin-right: ' + textRightMargin + 'px'">
        <b> {{filterName}} </b>
      </p>
    </div>
  </div>
  

  <!-- selected toggle -->
  <div style="height: 0px;">
    <div class="filter-button hasImage-{{hasImage}}" *ngIf="filterType[filterName]" title="{{filterName == 'W.I.P' ? 'Work in Progress' : ''}}">
      <div style="transform: translateY(5px)">
        <img [alt]="filterName" *ngIf="hasImage && filterName != 'All'" class="filter-icon" [src]="'assets/icons/' + fileName + ' icons/' + filterName + '.png'" [style]="'width: ' + iconWidth + 'px'"/>
        <img *ngIf="!hasImage" class="filter-icon invisible-all" src="assets/AllButton.png" [style]="'width: ' + iconWidth + 'px'"/>

        <p class="filter-name hasImage-{{hasImage}}" [style]="'margin-right: ' + textRightMargin + 'px'">
          <b> {{filterName}} </b>
        </p>
      </div>
    </div>
  </div>
</ion-col>