<!-- unselected toggle -->
<div class="filter-button unselected" [ngClass]="{'has-image': hasImage}" (click)="clickedFilterButton()" *ngIf="!filterType[filterName]" title="{{filterName == 'W.I.P' ? 'Work in Progress' : ''}}">
  <img 
    [alt]="filterName" 
    *ngIf="hasImage" 
    class="filter-icon unselected {{filterName}}" 
    [src]="'assets/icons/unselected ' + fileName + ' icons/' + filterName + '.png'"
  />
  <img *ngIf="!hasImage" class="filter-icon invisible-all" src="assets/AllButton.png"/>
  
  <p class="filter-name unselected hasImage-{{hasImage}}">
    <b> {{filterName}} </b>
  </p>
</div>

<!-- selected toggle -->
<div class="filter-button hasImage-{{hasImage}}" [ngClass]="{'has-image': hasImage}" (click)="clickedFilterButton()" *ngIf="filterType[filterName]" title="{{filterName == 'W.I.P' ? 'Work in Progress' : ''}}">
  <img 
    [alt]="filterName" 
    *ngIf="hasImage" 
    class="filter-icon {{filterName}}" 
    [src]="'assets/icons/' + fileName + ' icons/' + filterName + '.png'"/>
  <img *ngIf="!hasImage" class="filter-icon invisible-all" src="assets/AllButton.png"/>

  <p class="filter-name hasImage-{{hasImage}}">
    <b> {{filterName}} </b>
  </p>
</div>