<div [style]="'text-align:' + anchor" class="{{isLastTech ? 'last-tech' : ''}}">
  <div *ngFor="let hull of objectKeys(statsObject).reverse()" class="hull-stat-container">
    
    <!-- hull icon -->
    <app-hull-icon [hull]="hull" class="hull-icon" [width]="52"></app-hull-icon>
    
    <!-- stat abbreviation and bonus -->
    <div *ngFor="let stat of objectKeys(statsObject[hull])" class="child">
      <p class="generic-text no-glow inline-block stat-text">
        {{stat}}: {{statsObject[hull][stat]}}
      </p>
    </div>
  </div>
  <p class="generic-text empty-text" *ngIf="objectKeys(statsObject).length == 0">{{emptyMsg}}</p>
</div>