<app-prompt-header header="SELECT PRESET" [component]="this"></app-prompt-header>

<div class="prompt-info-background">
  <div #autoResize>
    <p class="prompt-text select-text">
      Select your preferred preset.
    </p>
  
    <app-prompt-button (click)="selectedPreset('hulls')" text="Hull" color="blue" class="button-padding"></app-prompt-button>
    <p class="preset-description">- Sort by hulls (DD, BB, CL, CA, etc).</p>
    
    <br>

    <app-prompt-button (click)="selectedPreset('stats')" text="Stat" color="blue" class="button-padding"></app-prompt-button>
    <p class="preset-description">- Sort by fleet tech stat (FP, AVI, TRP, RLD, etc).</p>
  
    <br>

    <app-prompt-button (click)="selectedPreset('both')" text="Hull & Stat" color="blue" class="button-padding"></app-prompt-button>
    <p class="preset-description">- Sort by both (BB FP, CV RLD, DD TRP, etc).</p>
  
    <!--
    <div class="prompt-button-container button-padding">
      <div class="prompt-button blue" (click)="selectedPreset('custom')">
        <p class="prompt-button-text">Custom</p>
      </div>
      <div class="prompt-button-edge"></div>
    </div>
    <p class="preset-description">- Make your own categories!</p>
    -->
  </div>
</div>

