.sort-list {
  display: inline-block; 
  margin-bottom: 10px;
}

.quick-tech {
  margin: 10px;
  margin-top: 0px;
  display: inline-block;

  .hull-icon {
    margin-right: 5px;
  }
}

.container {
  overflow-y: auto;
  height: 85vh;
  background: #213052;
  border: 2px solid #3c4f79;
  padding: 15px;

  &.mobile {
    text-align: center;
    height: 100vh;
  }
}

.back-button {
  float: left;
  height: 100vh;
  font-size: 25px;
  color: #c9e9ff;
}