<app-prompt-header header="SETTINGS" [component]="this"></app-prompt-header>

<div class="prompt-info-background">
  <div #autoResize>
    <app-settings-toggle name="UI mode" [toggles]="['Icon', 'Sheet']" storageName="ui-mode" defaultState="Icon"></app-settings-toggle>
    <!--
    <app-settings-toggle name="Use Retrofit Forms" [toggles]="['Yes', 'No']" storageName="retrofit-form" defaultState="Yes"></app-settings-toggle>
    -->
    
    <div class="setting-container">
      <p class="prompt-text inline-block">Ship Card Size:</p>
      <input class="prompt-input inline-block centered" type="number" [(ngModel)]="inputShipCardSize" style="width: 50px; margin-right: 0px; margin-left: 0px" />
      <p class="prompt-text inline-block">%</p>
    </div>

    <div style="display: flex">
      <app-prompt-button (click)="resetSite()" text="Reset Site" extraCSS="no-top" color="blue"></app-prompt-button>
    </div>
    <div class="prompt-text credits" (click)="openCredits()">Credits</div>
  </div>
</div>

<div class="prompt-buttons">
  <app-prompt-button (click)="cancel()" text="Cancel" color="red"></app-prompt-button>
  <app-prompt-button (click)="save()" text="Confirm" color="blue"></app-prompt-button>
</div>