<app-prompt-header header="SETTINGS" [component]="this"></app-prompt-header>

<div class="prompt-info-background">
  <div #autoResize>
    <app-settings-toggle name="UI mode" [toggles]="['Icon', 'Sheet']" storageName="ui-mode" defaultState="Icon"></app-settings-toggle>
    <app-settings-toggle name="Use Retrofit Forms" [toggles]="['Yes', 'No']" storageName="retrofit-forms" defaultState="No"></app-settings-toggle>
    <app-settings-toggle name="Show no-tech ships" [toggles]="['Yes', 'No']" storageName="show-no-tech-ships" defaultState="No"></app-settings-toggle>

    <div class="setting-container ship-card-size">
      <p class="prompt-text inline-block">Ship Cards Per Row:</p>
      <input class="prompt-input inline-block centered ship-card-size-input" min="5" type="number" [(ngModel)]="settingsData.settings['ship-cards-per-row']" style="width: 50px; margin-right: 0px; margin-left: 0px" />
    </div>
    <br> 
    
    <app-prompt-button (click)="csv.export()" text="Export CSV" extraCSS="no-top inline-block" color="blue"></app-prompt-button>

    <!-- hidden file type input attached to import CSV button -->
    <input type="file" id="import" accept=".csv" (change)="importCSV($event)" style="display: none"/> 
    <label for="import" (click)="csv.settingsText = ''"><app-prompt-button for="import" text="Import CSV" extraCSS="no-top inline-block" color="blue"></app-prompt-button></label>

    <p *ngIf="isInvalidImport" class="prompt-text inline-block">invalid CSV</p>
    
    <div style="display: flex">
      <app-prompt-button (click)="resetSite()" text="Reset Site" extraCSS="no-top" color="red"></app-prompt-button>
    </div>

    <div class="prompt-text credits" (click)="openCredits()">Credits</div>
  </div>
</div>

<div class="prompt-buttons">
  <app-prompt-button (click)="exit()" text="Cancel" color="red"></app-prompt-button>
  <app-prompt-button (click)="save()" text="Confirm" color="blue"></app-prompt-button>
</div>