<app-prompt-header header="SETTINGS" [component]="this"></app-prompt-header>

<div class="prompt-info-background">
  <div #autoResize>
    <app-settings-toggle name="UI Mode" trueToggle="Icon" falseToggle="Sheet" storageName="icon-ui" [defaultState]="true"></app-settings-toggle>
    <app-settings-toggle name="Helper Buttons" trueToggle="On" falseToggle="Off" storageName="help-buttons" [defaultState]="true"></app-settings-toggle>

    <div style="display: flex">
      <app-prompt-button (click)="resetCategories()" text="Reset Categories" extraCSS="no-top" color="blue"></app-prompt-button>
      <app-prompt-button (click)="resetSite()" text="Reset Site" extraCSS="no-top" color="blue"></app-prompt-button>
    </div>
  </div>
</div>

<div class="prompt-buttons">
  <app-prompt-button (click)="exit()" text="Close" color="grey"></app-prompt-button>
</div>