.slider {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 5px;
  position: absolute;
  transform: translate(50%, -20px);
  right: 0;
}

.slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
  border: 3px solid #6E7F9C;
  outline: 1px solid white;
  cursor: pointer;
}

.ship-hull-icon {
  width: 29.5px;
  z-index: 1;
  user-select: none;
  -webkit-user-drag: none;
  margin-right: 5px;
  transform: translate(0px, 2px);

  &.FP {
    transform: translateY(3px);
  }

  &.unobtained {
    filter: brightness(0.65);
  }
}

.tech-bonus {
  display: inline-block;
  font-size: 13px;
  transform: translate(0px, -2px);
  color: white;
  -webkit-text-stroke: 0.65px black;
  font-weight: 900;

  &.cell {
    width: 57px;
    transform: none;
  }

  &.none {
    display: block;
    font-size: 16px;
    text-align: center;
  }

  &.unobtained {
    filter: brightness(0.65);
  }
}

.tech-stat-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.tech-stat {
  width: 50px;
  text-align: center;
  height: 100%;
  border: 1px solid var(--borderWhite);
}

.level {
  width: 40px;
  text-align: right;
  background-color: #ff4d4d;
  height: 100%;
  border: 1px solid var(--borderWhite);
  cursor: pointer;

  &.over119-true {
    background-color: #49d049;
  }

  &.header {
    color: white;
  }

  &.unobtained {
    background: #a63232;
  }
}

td {
  border: 1px solid var(--borderWhite);
  cursor: pointer;
}

.selected-text {
  font-family: 'AgencyGothic';
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0 1px 2px #000000, 0 -1px 3px #000000;
  z-index: 1;
  display: inline-block;
}

.Common {
  background: #A5AAB5;

  &.unobtained {
    background: #6b6e76;
  }
}

.Rare {
  background: #6abff7;

  &.unobtained {
    background: #457ca1;
  }
}

.Elite {
  background: #9b8eff;

  &.unobtained {
    background: #655ca6;
  }
}

.Super-Rare {
  background: #ffd100;

  &.unobtained {
    background: #a68800;
  }
}

.Ultra-Rare {
  background: #ff6c4f;

  &.unobtained {
    background: #a64633;
  }
}