.cog-and-tech {
  display: inline-block;
  width: 100%;
  padding-left: 20px;

  &.Sheet {
    text-align: center;
  }

  .cog-image {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    transform: translateY(9px);
  }
}

.quick-tech {
  display: inline-block;
  margin-right: 10px;

  .quick-tech-text {
    margin-left: 5px;
  }
}