<div class="cog-and-tech"  [ngClass]="{'mobile' : misc.isMobile && misc.uiMode == 'Icon', 'sheet' : misc.uiMode == 'Sheet'}">
  <!-- cog chip text -->
  <ng-container *ngIf="shouldDisplay || !removeCogs">
    <img alt="Cog chips" src="assets/Cog Chip.png" class="cog-image"/> 
    <p title="Cognitive chips required to awaken all WIP (Work in progress) ships to 120" class="generic-text inline-block cog-text"> Required: {{shipsService.cogReqs}}</p>
  </ng-container>
  
  <!-- separator -->
  <div style="display: inline-block; margin-right: 20px"></div>

  <ng-container *ngIf="filter.oneSelectedHull != null && filter.oneSelectedStat != null && shouldDisplay">
    <div *ngFor="let hull of hullHierarchy.hulls[filter.oneSelectedHull]" class="quick-tech"> 
      <app-hull-icon [hull]="hull" class="hull-icon" [moveY]="5"></app-hull-icon>
      <p class="generic-text inline-block quick-tech-text">
          {{filter.oneSelectedStat}}: 
          
          {{fleetTech.total[hull][filter.oneSelectedStat] ? fleetTech.total[hull][filter.oneSelectedStat] : 0}}
          /
          {{fleetTech.full[hull][filter.oneSelectedStat]}}</p>
    </div>
  </ng-container>
</div>