<div class="main-container">
  <app-quick-tech-view [shouldDisplay]="ships.length > 0" [removeCogs]="true"t class="should-fade" [ngClass]="{'on' : isFading}"></app-quick-tech-view>

  <p *ngIf="!isLoading && ships.length == 0" class="generic-text no-ships-text">No ships fit this criteria.</p>

  <!-- temporary loading table to prevent bumping -->
  <table class="table" style="visibility: hidden;" *ngIf="isLoading">
    <tbody>
      <!-- header row -->
      <tr class="row" [ngClass]="{'mobile' : misc.isMobile}">
        <th class="category-header ship border" title="Click to edit category">Ship</th>
        <th class="category-header stat border" title="Ships give these corresponding stats and their count at lv. 120">Stat</th>
        <th class="category-header level border" title="Click to change every ship's level in this category">Lv.</th>
      </tr>
    </tbody>
  </table>

  <cdk-virtual-scroll-viewport class="table should-fade" [ngClass]="{'mobile' : misc.isMobile, 'on' : isFading}" [itemSize]="30" *ngIf="!isLoading && ships.length > 0">
    <table class="loaded">
      <tbody>
        <!-- header row -->
        <tr class="row" [ngClass]="{'mobile' : misc.isMobile}">
          <th class="category-header ship border" title="Click to edit category">Ship</th>
          <th class="category-header stat border" title="Ships give these corresponding stats and their count at lv. 120">Stat</th>
          <th class="category-header level border" title="Click to change every ship's level in this category">Lv.</th>
        </tr>

        <ng-container *cdkVirtualFor="let ship of ships; index as i" >
          <tr app-sheet-ship-row class="row" [ngClass]="{'unobtained' : !ship.isObtained}" [ship]="ship"></tr>
        </ng-container>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>


</div>