<div style="text-align: center">
  <app-quick-tech-view></app-quick-tech-view>

  <div class="container isMobile-{{misc.isMobile}}">
    <!-- header row -->
    <div class="row isMobile-{{misc.isMobile}}">
      <div class="category-header ship-name border" style="color: white" title="Click to edit category">Ship</div>
      <div class="category-header stat header border tech-stat" title="Ships give these corresponding stats and their count at lv. 120">Stat</div>
      <div class="category-header level header border level" title="Click to change every ship's level in this category">Lv.</div>
    </div>

    <!-- ships -->
    <ng-container *ngFor="let ship of shipsService.setAllProperShipPos(sort.immediateSort(shipsService.ships)); index as i">
      <app-sheet-ship-row *ngIf="misc.shipsFilterPass[ship.id] == true" [ship]="ship" [category]="category"></app-sheet-ship-row>
    </ng-container>
  </div>
</div>