.slider-marker {
  position: absolute;
  margin-top: 0px;
  width: calc(100% - 40px);

  &.l1 {
    transform: translate(calc(0.8%), -12px);
  }

  &.max-level {
    transform: translate(calc(97%), -12px);
  }

  .slider-text {
    cursor: pointer;
  }
}