.container {
  &.isMobile-false {
    padding-right: 50px;
  }
}

.faction-tech-container {
  background: #213052;
  width: 100%;
  border: 2px solid #3c4f79;
  margin-bottom: 10px;
}

.change-level {
  position: absolute;

  &.isMobile-true {
    right: 0px;
    zoom: 0.75;
  }
}

.display-name {
  margin-bottom: 0;
  cursor: pointer;
}

.last-folded-margin {
  margin-bottom: 50px;
}