.container {
  &.desktop {
    padding-right: var(--dead-zone-margin);
    padding-left: var(--dead-zone-margin);
  }
}

.faction-tech-container {
  background: #213052;
  width: 100%;
  border: 2px solid #3c4f79;
  margin-bottom: 10px;
}

.faction-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.change-level {
  position: absolute;
  right: 200px;

  &.mobile {
    right: 70px;
    zoom: 0.75;
  }
}

.display-name {
  margin-bottom: 0;
  cursor: pointer;
}

.last-folded-margin {
  margin-bottom: 50px;
}