<div class="container" [ngClass]="{'desktop' : !misc.isMobile}">
  <div *ngIf="misc.isMobile" style="height: 10px;"></div>

  <div class="faction-box-container">
    <app-faction-tech-box fullFactionName="Eagle Union" [level]="factionTechData.levels['USS']" [techPoints]="fleetTech.pointsUSS" (click)="openFactionTech('USS')"></app-faction-tech-box>
    <app-faction-tech-box fullFactionName="Royal Navy" [level]="factionTechData.levels['HMS']" [techPoints]="fleetTech.pointsHMS" (click)="openFactionTech('HMS')"></app-faction-tech-box>
    <app-faction-tech-box fullFactionName="Sakura Empire" [level]="factionTechData.levels['IJN']" [techPoints]="fleetTech.pointsIJN" (click)="openFactionTech('IJN')"></app-faction-tech-box>
    <app-faction-tech-box fullFactionName="Iron Blood" [level]="factionTechData.levels['KMS']" [techPoints]="fleetTech.pointsKMS" (click)="openFactionTech('KMS')"></app-faction-tech-box>
  </div>
  
  <!-- viewing faction tech -->
  <div *ngIf="viewingFaction != null && factionTechData.levels[viewingFaction] > 0" class="faction-tech-container">
    <app-generic-big-button text="Change Level" extraCSS="inline-block" class="change-level" [ngClass]="{'mobile' : misc.isMobile}" (click)="changeLevel()"></app-generic-big-button>
    <p class="generic-text faction-header">{{fullNames[viewingFaction]}}</p>
    <app-tech-hull-stat-display [statsObject]="fleetTech[viewingFaction]"></app-tech-hull-stat-display>
  </div>

  <!-- total tech -->
  <p class="generic-text display-name" (click)="toggleFold('total')">
    --- Total Tech --- &nbsp;
    <ion-icon name="caret-down-outline" *ngIf="!folded['total']"></ion-icon>
    <ion-icon name="caret-up-outline" *ngIf="folded['total']"></ion-icon>
  </p>
  <app-tech-hull-stat-display *ngIf="!folded['total']" [statsObject]="fleetTech.total"></app-tech-hull-stat-display>

  <!-- 120 tech -->
  <p class="generic-text display-name" (click)="toggleFold('max')">
    --- 120 Tech --- &nbsp;
    <ion-icon name="caret-down-outline" *ngIf="!folded['max']"></ion-icon>
    <ion-icon name="caret-up-outline" *ngIf="folded['max']"></ion-icon>
  </p>
  <app-tech-hull-stat-display *ngIf="!folded['max']" [statsObject]="fleetTech.maxed" emptyMsg="No ships at Lv. 120"></app-tech-hull-stat-display>

  <!-- obtain tech -->
  <p class="generic-text display-name {{folded['obtain'] ? 'last-folded-margin' : ''}}" (click)="toggleFold('obtain')">
    --- Obtain Tech --- &nbsp;
    <ion-icon name="caret-down-outline" *ngIf="!folded['obtain']"></ion-icon>
    <ion-icon name="caret-up-outline" *ngIf="folded['obtain']"></ion-icon>
  </p>
  <app-tech-hull-stat-display *ngIf="!folded['obtain']" [statsObject]="fleetTech.obtain" [isLastTech]="true" emptyMsg="No ships marked as obtained"></app-tech-hull-stat-display>
</div>