.item {
  margin: 10px;
  height: 44px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item-img {
  width: 30px;
  image-rendering: pixelated;
}

.item-text {
  transform: translateY(-8px);
  color: #c2e3f4;
  padding-top: 20px;
}