<div #card (click)="enterLevel()" title="Click to edit level" class="ship-card-container {{fadeCSS}} {{ship.isObtained ? '' : 'unobtained'}} isMobile-{{misc.isMobile}}">
  <div class="ship-hull-and-level-background">
    <!-- hull icon -->
    <ion-img class="ship-hull-icon" [title]="hoverTitles.hulls[getHull()] + ' (' + getHull() + ')'" [src]="'assets/icons/frame hull icons/' + getHull() + '.png'"></ion-img>
    
    <!-- tech stat and bonus -->
    <div [title]="hoverTitle">
      <ion-img class="ship-hull-icon {{ship.techStat}}" [style]="'width: ' + fleetTechStatIconWidths[ship.techStat] + 'px'" [src]="'assets/icons/stat icons/' + ship.techStat + '.png'"></ion-img>
      <p class="double-stats-text">+{{ship.techBonus}}</p>
    </div>

    <!-- level -->
    <div>
      <p *ngIf="ship.level < 120" class="ship-level Lv-text">Lv. {{ship.level}}</p>
      <ion-icon *ngIf="ship.level >= 120" name="checkmark-outline" class="done-checkmark"></ion-icon>
    </div>
  </div>

  <!-- flash (appears after level edit)-->
  <div class="flash {{flashCSS}}"></div>

  <div class="bulk-select {{isBulkSelected}}"></div>

  <!-- image -->
  <div style="display: inline-block">
    <img ion-img-cache *ngIf="getRarity() != 'Ultra-Rare' && getRarity() != 'Decisive'" [src]="getImageSrc()" (error)="getFallbackThumbnail()" class="ship-thumbnail ship-rarity-{{getRarity()}}"/>
    <img ion-img-cache *ngIf="getRarity() == 'Ultra-Rare' || getRarity() == 'Decisive'" [src]="getImageSrc()" (error)="getFallbackThumbnail()" class="ship-thumbnail UR-or-decisive"/>
    
    <!-- name -->
    <div class="ship-name">
      <p class="ship-name-text">{{ship.name}}</p>
    </div>
  </div>
</div>
