<div #card (click)="enterLevel()" title="Click to edit level" class="ship-card-container fade-{{fadeCSS}} {{ship.id == '-1' ? 'invisible' : ''}} {{ship.isObtained ? '' : 'unobtained'}}">
  <div [ngClass]="{'bulk-select' : ship.isBulkSelected}"></div>
  <p *ngIf="ship.isBulkSelected" class="selected-text">- SELECTED -</p>
  
  <div class="ship-info-overlay hull">
    <!-- hull icon -->
    <ion-img class="ship-hull-icon" [title]="hoverTitles.hulls[getHull()] + ' (' + getHull() + ')'" [src]="'assets/icons/frame hull icons/' + getHull() + '.png'"></ion-img>
    
    <!-- tech stat and bonus -->
    <div [title]="hoverTitle" *ngIf="ship.techStat != null">
      <ion-img class="ship-hull-icon {{ship.techStat}}" [style]="'width: ' + fleetTechStatIconWidths[ship.techStat] + 'px'" [src]="'assets/icons/stat icons/' + ship.techStat + '.png'"></ion-img>
      <p class="double-stats-text">+{{ship.techBonus}}</p>
    </div>

    <!-- level -->
    <p *ngIf="ship.level < 120" class="ship-level Lv-text">Lv. {{ship.level}}</p>
    <ion-icon *ngIf="ship.level >= 120" name="checkmark-outline" class="done-checkmark"></ion-icon>
  </div>

  <!-- flash (appears after level edit)
       - doesn't work due to how the list is refreshed
  <div class="flash {{ship.isEdited}}"></div>
  -->

  <!-- name -->
  <p class="ship-name-text">{{ship.name}}</p>

  <!-- image -->
  <img *ngIf="getRarity() != 'Ultra-Rare' && getRarity() != 'Decisive'" [src]="imageSrc" (error)="getFallbackThumbnail()" class="ship-thumbnail ship-rarity-{{getRarity()}}"/>
  <img *ngIf="getRarity() == 'Ultra-Rare' || getRarity() == 'Decisive'" [src]="imageSrc" (error)="getFallbackThumbnail()" class="ship-thumbnail UR-or-decisive"/>
</div>
