.ship-thumbnail {
  width: 100px;
  height: calc(144px * var(--ship-card-zoom));
  border-right: 0;
  border-left: 0;
  border-radius: calc(5px * var(--ship-card-zoom));
  pointer-events: none;

  &.ship-rarity-Common {
    border: calc(5px * var(--ship-card-zoom)) solid #A5AAB5; 
    border-right: 0; 
    border-left: 0; 
    background:linear-gradient(0deg, #BDC7CE 44%, #6B697B 99%);
  }
  
  &.ship-rarity-Rare {
    border: calc(5px * var(--ship-card-zoom)) solid #6abff7; 
    border-right: 0; 
    border-left: 0; 
    background:linear-gradient(0deg, #89C3F9 44%, #42617C 99%);
  }
  
  &.ship-rarity-Elite {
    border: calc(5px * var(--ship-card-zoom)) solid #9b8eff; 
    border-right: 0; 
    border-left: 0; 
    background:linear-gradient(0deg, #AD96FF 44%, #53497B 99%);
  }
  
  &.ship-rarity-Super-Rare {
    border: calc(5px * var(--ship-card-zoom)) solid #f7d84b; 
    border-right: 0; 
    border-left: 0; 
    background:linear-gradient(0deg, #f7cf52 44%, #807539 99%);
  }

  &.UR-or-decisive {
    background-image: url("../../../../../assets/UR border.png");
    border: calc(5px * var(--ship-card-zoom)) solid transparent;
  
    // I have no idea why I have to apply this again
    border-right: 0;
    border-left: 0;
  }

  &.set-outline {
    transition: outline 0s;
    outline: 5px solid rgba(0, 255, 0, 1);
  }

  &.remove-outline {
    transition: outline 0.5s;
    outline: 7px solid rgba(0, 255, 0, 0);
  }
}

.ship-hull-icon {
  width: 24.5px;
  z-index: 1;
  float: left;
  user-select: none;
  -webkit-user-drag: none;

  &.FP {
    transform: translate(0px, 2px);
  }
}

.ship-hull-icon.applicable {
  position: relative;
  transform: translate(0px, 2px);
}

.applicable-ship-hull-icon-container {
  transform: translate(0px, -28px);
  position: absolute;
  width: 100px;
  margin: auto;
  background: #00000099;
  height: 19px;
  width: 100px;
  margin-top: 5px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.ship-level {
  font-family: AgencyGothic;
  text-align: right;
  float: right;
  font-size: 17px;
  margin: 0px;
  user-select: none;
  transform: translate(-6px,-1.5px);
  color: white;
  cursor: pointer;

  &.input {
    height: 20px;
    width: 25px;
    margin-right: 5px;
  }
}

.ship-name-text {
  transform-origin: bottom left;
  font-family: ship-name;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-user-select: none;
  user-select: none;
  color: white;
  position: absolute;
  background: rgb(0 0 0 / 43%);
  width: calc(100% / var(--ship-card-zoom));
  bottom: calc(25px * var(--ship-card-zoom));
  transform: scale(var(--ship-card-zoom));
  margin: 0
}

.double-stats-text {
  transform: translate(0, 1.5px);
  font-family: ship-name;
  font-weight: bold;
  font-size: 10px;
  margin: 0;
  float: left;
  user-select: none;
  color: white;
  color: white;
}

.ship-card-container {
  will-change: transform;
  margin-bottom: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 0;
  filter: none;
  transform: none;
  transition: opacity 0.5s;
  opacity: 0;

  &.dragged {
    position: relative;
    z-index: 99;
    filter: drop-shadow(0px 0px 20px black);
  }

  &.fade-in {
    opacity: 1;
  }

  &.unobtained {
    filter: brightness(0.65)
  }

  &.invisible {
    pointer-events: none;
    opacity: 0;
  }
}

.invisible-ship-card {
  width: 116px;
  height: 144px;
  display: inline-block;
  margin-bottom: 8px;
}

.done-checkmark {
  color: limegreen;
  --ionicon-stroke-width: 64px;
  float: right;
}

.flash {
  position: absolute;
  height: 144px;
  width: 100%;
  border-radius: 5px;
  z-index: 1;
  pointer-events: none;

  &.in {
    animation: flash 2s;
  }
}

@keyframes flash {
  0% {background-color: rgba(0, 200, 0, 1)}
  100% {background-color: rgba(0, 200, 0, 0)}
}

.bulk-select {
  position: absolute;
  height: calc(144px * var(--ship-card-zoom));
  width: 100%;
  border-radius: 5px;
  z-index: 1;
  pointer-events: none;
  
  &.true {
    background: rgb(255, 255, 255, var(--selected-ship-glow-opacity));
    transition: background-color 2s;
  }
}

.selected-text {
  position: absolute;
  font-family: 'AgencyGothic';
  font-size: 15px;
  text-align: center;
  width: calc(100% / var(--ship-card-zoom));
  transform: scale(var(--ship-card-zoom));
  padding-top: 45px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0 1px 2px #000000, 0 -1px 3px #000000;
  z-index: 1;
  transform-origin: top left;
}

.ship-info-overlay {
  background: #0000006e;
  height: 15px;
  width: 100px;
  position: absolute;
  display: inline-block;
  transform: scale(var(--ship-card-zoom));

  &.name {
    transform-origin: bottom left;
    bottom: calc(25px * var(--ship-card-zoom));
    height: 17px;
  }

  &.hull {
    transform-origin: top left;
    top: calc(5px * var(--ship-card-zoom));
  }
}