<div>
  <p class="generic-text filter-category-name">Hulls: </p>
  <ion-grid class="filter-category-container">
    <ion-row wrap-reverse >
      <app-filter-button *ngFor="let hull of hullNames; let i = index" [filterName]="hull" [filterType]="filter.hulls" [index]="i" [iconWidth]="hullIconWidths[i]" [textRightMargin]="hullTextRightMargins[i]" fileName="hull"></app-filter-button>
    </ion-row>
  </ion-grid>
  <app-help-button helpType="filter"></app-help-button>
</div>

<!-- faction filter -->
<div>
  <p class="generic-text filter-category-name">Factions: </p>
  <ion-grid class="filter-category-container">
    <ion-row>
      <app-filter-button *ngFor="let faction of factionNames; let i = index" [filterName]="faction" [filterType]="filter.factions" [index]="i" [iconWidth]="factionIconWidths[i]" [textRightMargin]="factionTextRightMargins[i]" fileName="faction"></app-filter-button>
    </ion-row>
  </ion-grid>
</div>

<!-- stat filter -->
<div style="margin-bottom: 20px;">
  <p class="generic-text filter-category-name">Stats: </p>
  <ion-grid class="filter-category-container">
    <ion-row>
      <app-filter-button *ngFor="let stat of statNames; let i = index" [filterName]="stat" [filterType]="filter.stats" [index]="i" [iconWidth]="statIconWidths[i]" [textRightMargin]="statTextRightMargins[i]" fileName="stat"></app-filter-button>
    </ion-row>
  </ion-grid>
</div>