.slider {
  -webkit-appearance: none;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 5px;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
  border: 3px solid #6E7F9C;
  outline: 1px solid white;
  cursor: pointer;
}