<app-prompt-header header="EDIT LEVEL - {{name.toUpperCase()}}" [component]="this"></app-prompt-header>

<div class="prompt-info-background">
  <div #autoResize>

    <p class="prompt-text inline-block">Use the markers, slider, or input field to enter the level. </p>
    
    <!-- ignore toggle -->
    <div class="setting-container" title="Set this if you have the ship. Their collection stat bonus will be included in tech stat calculation">
      <div class="toggle-container" (click)="setObtained(!isObtained)">
        <app-toggle-flag [toggle]="isObtained"></app-toggle-flag>
        <p class="toggle-text">Obtained</p>
      </div>
    </div>

    <div>
      <!-- markers-->
      <div class="slider-marker l1">
        <p class="prompt-text inline-block slider-text" (click)="choseMarker(1)" title="Instantly set level to 1">1</p>
      </div>
      <div class="slider-marker l70">
        <p class="prompt-text inline-block slider-text" (click)="choseMarker(70)" title="Instantly set level to 70">70</p>
      </div>
      <div class="slider-marker l100">
        <p class="prompt-text inline-block slider-text" (click)="choseMarker(100)" title="Instantly set level to 100">100</p>
      </div>
      <div class="slider-marker l120">
        <p class="prompt-text inline-block slider-text" (click)="choseMarker(120)" title="Instantly set level to 120&#013;- Ship will be pushed down the list">120</p>
      </div>
      
      <!-- slider -->
      <input type="range" min="1" max="125" [(ngModel)]="level" (ngModelChange)="changeLastInput(true)" class="slider" title="Set level using this slider">
      
      <!-- text field -->
      <form (ngSubmit)="done()">
        <input #input maxlength="3" title="Enter level as an input field" class="prompt-input centered" (blur)="updateSlider()" [value]="level" [(ngModel)]="textLevel" (ngModelChange)="changeLastInput(false)" name="this is for the form"/>
      </form>

      <!-- 120 text-->
      <p class="prompt text maxed-text" *ngIf="wasSlider && level >= 120 || !wasSlider && textLevel >= 120">*Marked as Complete and pushed down the list.</p>
    
    </div>
  </div>
</div>

<div class="prompt-buttons">
  <app-prompt-button text="Cancel" color="red" (click)="exit()"></app-prompt-button>
  <app-prompt-button text="Confirm" color="blue" (click)="done()"></app-prompt-button>
</div>

