<div>
  <div class="prompt-heading exit" (click)="exit()"><img class="prompt-heading exit-img" src='assets/exit.png'/></div>
  
  <div class="prompt-heading background">
    <p class="prompt-heading text">EDIT LEVEL</p>
    <div class="prompt-heading stripes"></div>
  </div>
</div>

<div class="prompt-info-background">
  <div #autoResize>
    <p class="prompt-text centered" *ngIf="category == null">Enter {{name}}'s level.</p>
    <p class="prompt-text centered" *ngIf="category != null">Enter a level to give all {{category}} ships.</p>
    <p class="prompt-text inline-block slider-marker" (click)="choseMarker(1)">1</p>
    <p class="prompt-text inline-block slider-marker l70" (click)="choseMarker(70)">70</p>
    <p class="prompt-text inline-block slider-marker l100" (click)="choseMarker(100)">100</p>
    <p class="prompt-text inline-block slider-marker l120" (click)="choseMarker(120)">120</p>
    <input type="range" min="1" max="125" [(ngModel)]="level" (ngModelChange)="changeLastInput(true)" class="slider">
    <form (ngSubmit)="done()">
      <input #input class="prompt-input centered" (blur)="updateSlider()" [value]="level" [(ngModel)]="textLevel" (ngModelChange)="changeLastInput(false)" name="this is for the form"/>
    </form>
  </div>  
</div>

<div class="prompt-buttons">
  <div class="prompt-button-container">
    <div class="prompt-button red" (click)="exit()">
      <p class="prompt-button-text">Cancel</p>
    </div>
    <div class="prompt-button-edge"></div>
  </div>

  <div class="prompt-button-container">
    <div class="prompt-button blue" (click)="done()">
      <p class="prompt-button-text">Confirm</p>
    </div>
    <div class="prompt-button-edge"></div>
  </div>
</div>

