<div class="options-button {{home.filterCss}}" (click)="home.toggleFilter()">
  <div class="options-button-square left"></div>
  <div class="options-button-square right"></div>
  <div class="generic-text options {{home.filterCss}}"> Filter </div>
</div>

<div class="options-button {{home.sortCss}}" (click)="home.toggleSort()">
  <div class="options-button-square left"></div>
  <div class="options-button-square right"></div>
  <div class="generic-text options {{home.sortCss}}"> Sort </div>
</div>

<app-sort-list *ngIf="home.sortCss == 'selected'" style="display: inline-block"></app-sort-list>

<div *ngIf="home.filterCss == 'selected'">
  <app-filter-list></app-filter-list>
</div>

<app-help-button helpType="sheet-ui"></app-help-button>

<div #container class="container" *ngIf="filter.shipFilterPass != []">
  <div *ngFor="let category of shipCategoryData.sortedCategoryNames; index as i" class="grid" [id]="category" #categories>
    <div class="row highlight-{{highlightedHeaderElement == i}}" (click)="openCategoryEditor(category)" #categoryHeaders>
      <div class="ship-name border " style="color: white">{{category}}</div>
      <div class="level header border level">Lv.</div>
    </div>
    <ng-container *ngFor="let ship of shipCategoryData.categories[category].ships">
      <app-sheet-ship-row *ngIf="filter.shipFilterPass[ship.id] == true" [ship]="ship" [category]="category"></app-sheet-ship-row>
    </ng-container>
    <div class="adding-from-bottom" *ngIf="belowGridIndex == i" #categoryHeaders>
      <div style="color: white">&nbsp;</div>
    </div>
  </div>
  
  <div (click)="openCategoryEditor(null)" class="grid">
    <div class="ship-name border createCategory" style="color: white">+</div>
  </div>
</div>

