.container {
  color: black;
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
  padding-right: 100px;
  justify-content: center;

  &.mobile {
    padding-right: 5px;
    justify-content: flex-end;
  }
}

.grid {
  flex-basis: 60%;

  &.desktop {
    padding-left: 50px;
  }
}