.container {
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;
  transform: rotate(180deg);
  color: black;
  overflow-y: hidden;
  margin-bottom: 200px;
  justify-content: center;
  text-align: left;
}

.grid {
  margin: 20px;
  margin-left: 40px;
  transform: rotate(180deg) translateX(-10px);
}