.help-diamond {
  width: 17px;
  height: 17px;
  transform: rotate(45deg) translateY(2px);
  display: inline-block;
  margin: 10px;
  background-color: #212C4A;
  border: 1px solid white;
  cursor: pointer;

  .question-mark {
    margin: 0;
    transform: rotate(315deg) translate(4px, 0px);
  }

  &.filter {
    transform: translateY(-50px) rotate(45deg) translateY(2px); 
  }

  &.icon-ui, &.sheet-ui {
    position: absolute;
    left: 0;
    transform: translate(-40px, 70px) rotate(45deg) translateY(2px);
  }
}