<div class="setting-container">
  <p class="prompt-text toggle-header">{{name}}: </p>
  
  <div class="toggle-container" (click)="setToggle(true)">
    <app-toggle-flag [toggle]="toggle != null && toggle || false"></app-toggle-flag>
    <p class="toggle-text">{{trueToggle}}</p>
  </div>
  
  <div class="toggle-container" (click)="setToggle(false)">
    <app-toggle-flag [toggle]="toggle != null && !toggle || false"></app-toggle-flag>
    <p class="toggle-text last">{{falseToggle}}</p>
  </div>
</div>