<div class="container">
  <p class="generic-text {{misc.isMobile ? 'no-bottom-margin' : 'inline-block'}}">Sort: </p>
  
  <div *ngFor="let type of types; index as i" class="generic-big-button unselected sort-button isMobile-{{misc.isMobile}}" (click)="sort(type)" [title]="'Sort by ' + type.toLowerCase() + (!sortService.isAscending[type] ? ' (ascending)' : ' (descending)') + (type=='Level' ? '\n*Future level changes will be instantly sorted until another sort type is used' : '')">
    <!-- little squares to the top side -->
    <div class="generic-big-button-square left"></div>
    <div class="generic-big-button-square right"></div>
    
    <!-- ascending/descending arrows -->
    <ion-icon *ngIf="!sortService.isAscending[type]" name="caret-up-outline" class="sort-options-arrow"></ion-icon>
    <ion-icon *ngIf="sortService.isAscending[type]" name="caret-down-outline" class="sort-options-arrow"></ion-icon>
    
    <div class="generic-text options unselected"> {{type}} &nbsp;&nbsp;&nbsp;</div>
  </div>

  <div class="consider-status" (click)="refreshConsiderStatus()">
    <app-toggle-flag [toggle]="misc.considerStatusSorting"></app-toggle-flag>
    <p class="generic-text inline-block">Consider status</p>
  </div>
</div>
