.sort-options-arrow {
  transform: translate(-10px, 10px);
  float: right;
  pointer-events: none;
  color: white;
}

.sort-button {
  margin-left: 5px; 
  margin-right: 5px;
}

.consider-status {
  display: inline-block; 
  padding-left: 10px;
  cursor: pointer;
}