<ion-content [fullscreen]="true" class="main-content isMobile-{{app.isMobile}}">
  <div class="background"></div>
  <div class="content">
    <div class="header-container">
      <img class="header-img" src="assets/logo.webp"/>
      <h1 class="title generic-text no-glow">
        Azur Lane Fleet Tech Tracker
      </h1>
      <div class="settings-button isMobile-{{app.isMobile}}" (click)="openSettingsModal()">
        <img class="image" src="assets/settings.png"/>
        <p class="generic-text no-glow text">Settings</p>
      </div>
    </div>

    <div *ngIf="shipsService.ships.length != 0" class="categories">
      <app-icon-ui *ngIf="isIconUI" style="position: relative;"></app-icon-ui>
      <app-sheet-ui *ngIf="!isIconUI" style="position: relative;"></app-sheet-ui>
    </div>

    <div *ngIf="shipsService.ships.length == 0" class="generic-text centered">
      Loading...
    </div>
  </div>
</ion-content>
