<ion-content [fullscreen]="true" class="main-content isMobile-{{app.isMobile}}">
  <div class="background"></div>

  <div class="content">
    <div class="header-container">
      <!-- site logo & title -->
      <img class="header-img" src="assets/logo.webp"/>
      <h1 class="title generic-text no-glow">Azur Lane Fleet Tech Tracker</h1>

      <div style="display: inline-block; transform: translateX(50px)">
        <app-generic-big-button text="Tech Summary"></app-generic-big-button>

        <!-- settings button-->
        <div class="settings-button" (click)="openSettingsModal()">
          <img class="image" src="assets/settings.png"/>
          <p class="generic-text no-glow text">Settings</p>
        </div>
      </div>
    </div>

    <!-- feature panel & UI mode to display-->
    <div *ngIf="shipsService.ships.length != 0" class="categories">
      <app-feature-panel [uiMode]="uiMode"></app-feature-panel>
      <app-icon-ui *ngIf="uiMode == 'Icon'" style="position: relative;"></app-icon-ui>
      <app-sheet-ui *ngIf="uiMode == 'Sheet'" style="position: relative;"></app-sheet-ui>
    </div>

    <!-- if no ships loaded, show this -->
    <div *ngIf="shipsService.ships.length == 0" class="generic-text centered">
      Loading...
    </div>
  </div>
</ion-content>
