<ion-header *ngIf="misc.isMobile" class="mobile-header">
  <ion-toolbar color="primary">
    <div class="title-container">
      <img alt="Azur Lane logo" class="header-img" [ngClass]="{'mobile' : misc.isMobile}" src="assets/logo.webp"/>
      
      <h1 class="title generic-text no-glow" [ngClass]="{'mobile' : misc.isMobile}">Azur Lane Fleet Tech Tracker</h1>
    </div>
    <ion-icon (click)="openSideMenu()" name="reorder-three-outline" class="side-menu-burger-icon" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main-content" [ngClass]="{'mobile' : misc.isMobile}">
  <ngx-loading-bar></ngx-loading-bar>
  <app-hull-info-panel *ngIf="misc.techMode == 'ship' && !misc.isMobile"></app-hull-info-panel>
  <div class="background" [ngClass]="{'mobile' : misc.isMobile, 'fade-in' : shouldBackgroundFadeIn}"></div>

  <!-- sort & filter swipe text (mobile)-->
  <p class="generic-text sort-and-filter-text" *ngIf="misc.isMobile && misc.techMode == 'ship'" (click)="openSortAndFilterMenu()">
    SORT & FILTER <ion-icon name="caret-up-outline"></ion-icon>
  </p>
  
  <div class="content">
    <div class="header-container" *ngIf="!misc.isMobile">
      <!-- site logo & title -->
      <img alt="Azur Lane logo" class="header-img" src="assets/logo.webp"/>
      <h1 class="title generic-text no-glow">Azur Lane Fleet Tech Tracker</h1>

      <div style="display: inline-block; transform: translateX(50px)">
        <!-- tech mdoe button -->
        <div *ngIf="!misc.isMobile" class="header-button" (click)="misc.switchTechMode()">
          <img alt="display tech summary" *ngIf="misc.techMode == 'ship'" class="image" src="assets/tech summary.png"/>
          <img alt="display ship database" *ngIf="misc.techMode == 'stat'" class="image" src="assets/ship database.png"/>
          <p class="generic-text no-glow text">{{misc.techModeString}}</p>
        </div>

        <!-- settings button-->
        <div *ngIf="!misc.isMobile" class="header-button settings" (click)="openSettingsModal()">
          <img alt="open settings prompt" class="image" src="assets/settings.png"/>
          <p class="generic-text no-glow text">Settings</p>
        </div>
      </div>
    </div>

    <!-- feature panel & UI mode to display-->
    <ng-container *ngIf="shipsService.ships.length != 0">

      <!-- ship database -->
      <ng-container *ngIf="misc.techMode == 'ship'">
        <app-icon-ui *ngIf="misc.uiMode == 'Icon'" style="position: relative;"></app-icon-ui>
        <app-sheet-ui *ngIf="misc.uiMode == 'Sheet'" style="position: relative;"></app-sheet-ui>
      </ng-container>

      <!-- tech summary -->
      <app-tech-summary *ngIf="misc.techMode == 'stat'" style="text-align: center"></app-tech-summary>
    </ng-container>

    <ng-container *ngIf="shipsService.ships.length == 0">
      <p class="generic-text centered">Loading...</p>
    </ng-container>
  </div>
</ion-content>
